  <form action="/logged_in/new" method="POST">
    <label>Title</label><input type="text" id="title" name="title" />
    <label>FB_ID</label><input type="text" id="body" name="body" />
    <input type="submit">
  </form>
