
 
	  <form action="/delete/<%= @cut.id %>" method="post">	    
    <input type="text" value= <%= @cut.title %> />
    <input type="text" value= <%= @cut.body %> />
    <button type="submit" name="_method" value="delete" >Delete</button>
</form>
     

