
<form action"/update/#{@cut.id}" method="post">
	<input type="hidden" name="_method" type="hidden" value="patch">
	<input type="text" name="title" value="<%=h @cut.title %>" />
	<input type="textarea" name="body" value="<%=h @cut.body %>" />
	<button type="submit" name="update">Update</button>
	 
  </form>


